body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: #6ba1bb;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #ffffff6e;
    border: 1px solid #7e02b1;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    margin-top: 120px;
    /* flex-direction: row; */
    justify-content: center;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .gameButton{
    align-items: center;
    margin: 3;
    height: 30;
    width: 130;
  }

  .gameButton:hover{
      background-color: #ffffff6e;
      border: none;
  }
  